.body{
    padding: 0;
    margin: 0;
}
.container{
    max-width: 1220px;
    margin: auto;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo{
    width: 150px;
    height: 32px;

}
.heder{
    width: 100%;
    height: 100vh;
    background-image: url("/img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.menu_list{
    display: flex;
}

.menu_list-item {
    list-style: none;
}
.menu_list-item+.menu_list-item{
    margin-left: 15px;
}
.menu_list-link{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.login{
    color: white;
     font-size:20px;
    text-decoration: none;
 }

.join{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color:#ff6551;
    margin-left: 30px;
}

.header_content{
    margin-top: 25%;
    text-align: center;
    color: white;
}



.header_content p{
    color: #FFC652;
}

.title{
    color:white;
    width: 550px;
    font-size: 62px;
    margin: 30px auto 50px;

}

.subtitle{
    font-weight: lighter;
}
.header_button{
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 25px;
    background: #ff6551;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;

}
.header_blogs{
    display: flex;
    justify-content: space-between;
    margin: 100px 0;
}

.header_blog{
    width: 328px;
    padding: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 12px #0000007d;


}

.header_blog:hover{
   background: #ff6551;
    color: white;
}

.header_blog:hover .line{
    background: white;
}

.header_blog:hover .header_blog-text{
    color: white;
}


.header_blog-icon{
    width: 70px;
    height: 80px;
    background: #B6D7FF;
    border-radius: 10px;
    position: relative;
}

.header_blog-icon img{
    position: absolute;
    top: calc(50% - 16px);
    left: calc(50% - 16px);

}

.line{
    width: 50px;
    height: 2px;
    background: #ff6551;
}

.header_blog-text{
    color: #737373;
    font-size: 22px;
    font-weight: lighter;
    line-height: 30px;
}

.courses{
    margin: 300px 0;
}

.courses .line{
    height: 5px;
    width: 60px;
}

.courses_top{
    display: flex;
    align-items: center;


}

.courses_content{
    width: 385px;
    margin: auto;
}

.courses .h2{
    font-size: 42px;
}

.courses_text{
    font-weight: lighter;
    font-size: 18px;
    padding-left: 15px;
    color: #737373;
}

.courses_link{
    text-decoration: none;
    color: #ff6551;
    font-weight: bold;
}

.video{
    width: 500px;
    border-radius: 10px;
}

.education {
    margin-bottom: 200px;
}

.education_subtitle{
    color: #ff6551;
    font-size: 18px;

}
.education_title{
    font-size: 42px;
}
.education_text{
    width: 430px;
    color: #737373;
}
.education_items{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;

}

.education_item{
    width: 300px;
}
.education_item + .education_item{
    margin-left: 40px;
}


.item_top{
    position: relative;
}
.item_top > img{
    width: 100%;
}


.sale{
    position: absolute;
    top: 15px;
    left: 15px;
    background: #E74040;
    color: white;
    padding: 5px 15px;
    border-radius: 7px;
    font-weight: bold;

}

.item_buttons{
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
}

.item_icon{
    background: white;
    border-radius: 50%;
    position: relative;
    height: 40px;
    width: 40px;

}

.item_icon img{
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 10px);

}

.item-bottom {
    padding: 20px;
}

.item-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-rating a {
    color: #FF6551;
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
}

.star {
    background: #26335D;
    padding: 5px;
    border-radius: 30px;
    color: white;
    display: flex;
    align-items: center;
}

.star span {
    margin-left: 8px;
}
.item-title{
    font-size: 26px;
    margin: 10px 0;
}

.sales{
    display: flex;
}

.item-text{
    color: #737373;
    font-weight: lighter;
    font-size: 22px;
}
.sales p {
    margin-left: 10px;
    font-weight: bold;
    color: #737373;
}

.price{
    display: flex;
    font-size: 26px;

}

.price-old{
    color: #BDBDBD;
}

.price-current{
    color: #2435A1;
    margin-left: 5px;
    margin-bottom: 10px;

}

.item-learn{
    border: 2px solid #FF6551;
    border-radius: 30px;
    padding: 15px 20px;
    background:white;
    color: #FF6551;
    font-size:18px ;
    font-weight:bold;
}

.popular{
    background: #26335D;
    padding: 200px 0;
    color: white;

}

.popular h6{
    color: #FF6551;

}

.popular_title{
    color: white;
    font-size: 42px;
    font-weight: bold;

}

.popular_text{
    width: 400px;
    margin-bottom: 100px;
    font-weight: lighter;

}

.popular_card{
    background-color: white;
    width: 315px;
    padding: 30px;
    color: black;
    position: relative;

}

.popular_free{
    font-size: 30px;
    font-weight: bold;

}

.popular_card-price{
    color: #FF6551;
    font-size: 50px;
    font-weight: bold;
    margin: 10px 0 0;

}

.popular_card-month{
    color: #8EC2F2;
    margin: 0;
}

.popular_cards{
    display: flex;
    justify-content: space-between;

}

.popular_card-button{
    background: #FF6551;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.features-list{
    list-style:  none;
    padding: 0;

}

.features-item{
    display: flex;
    margin-top: 10px;
    align-items: center;

}
.features-item_icon{
    margin-right: 10px;
}

.features_item-text{
    font-weight: bold;
}

.new_item{
    width: 90px;
    height: 90px;
    background-color: #E77C48;
    font-size: 30px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    top: -25px;
    right: -30px;
    color: white;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    display: none;
}

.popular_card.new .new_item{
    display: flex;
}

.our_text{
    color: #E74040;
}

.rasmlar{
    display: flex;
    justify-content: space-around;
    padding: 150px;
}

.testimonials{
    padding: 100px;
}

.our_text2{
    font-size: 30px;
}

.our_text3{
    width: 400px;
    color: #737373;
}

.odam{
    border-radius: 50%;
}

.rasmlar_text{
    width: 300px;
    color: #737373;
}
.birinchi{
    align-items: center;
    text-align: center;
}

.desinger{
    color: #737373;
}

.miles{
    font-weight: bold;
}

.newsletter_text{
    color: #E74040;
}

.container2{
    text-align: center;
}

.newsletter{
    padding: 100px;
}
.newsletter_text2{
    font-size: 30px;
    font-weight: bold;
}

.nrwsletter_text3{
    width: 300px;
    color: #737373;
    margin: auto;


}
.bb{
    color: #737373;
    width: 30%;
    height: 50px;
    background: #dcdada;
    border: none;

}

.bbbb{
    background: #E74040;
    color: white;
    padding: 20px 30px;
    margin-left: -15px;
    border: none;
}
.bosish{
    font-size: 50px;
    padding: 20px;

}

.sms{
    display: flex;
    justify-content: space-between;
    padding: 100px 1px 20px 1px ;
}

.info1{
    font-weight: bold;
    color: black;
}

.licha{
    list-style: none;
    padding: 1px;
    color: #737373;
}

.li1{
    display: flex;
    align-items: center;
}

.rasmcha{
    padding-right: 10px;
}

.info{
    color: #737373;
}

.kkk{
    display: flex;
    align-items: center;
    background-color: #FAFAFA;
    color: #737373;
    height: 80px;
    font-weight: bold;
}

.qush{
  padding-left: 10px;
}

.sss{
    display: flex;
    padding-left: 750px;
}